.container {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  padding: 14px 35px;

  background-color: var(--accent-color-1);
  border-radius: 12px;

  transition: background-color 0.2s linear;
}

.container:hover {
  background-color: var(--accent-color-2);
}

.img {
  width: 22px;
  height: 22px;
}

.text {
  width: max-content;
  font-weight: 500;
  color: var(--font-color);
}
