:root {
  --accent-color-1: #0A66C2;
  --accent-color-2: #0854A0;

  --selected-color-1: #E6F1FC;
  --selected-color-2: #F1F1F1;

  --font-color: #FFF;

  --border-color: #999999;

  --yellow-color: #FFC000;
  --green-color: #00850B;
  --red-color-1: #E24843;
  --red-color-2: #BD0600;
}
