:root {
  --accent-color-1: #0a66c2;
  --accent-color-2: #0854a0;

  --selected-color-1: #e6f1fc;
  --selected-color-2: #f1f1f1;

  --font-color: #ffffff;

  --border-color: #999999;

  --yellow-color: #ffc000;
  --green-color: #00850b;
  --red-color-1: #e24843;
  --red-color-2: #bd0600;
}
