.textarea {
  resize: none;

  display: block;

  width: 100%;
  padding: 8px;

  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.textarea:focus {
  border-color: var(--accent-color-2);
}
