.textarea {
  resize: none;

  display: block;

  width: 100%;
  min-width: 200px;
  padding: var(--textarea-padding);

  border: 1px solid var(--border-color);
  border-radius: var(--textarea-border-radius);
}

.textarea:focus {
  border-color: var(--accent-color-2);
}
