.container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  animation: appear1 0.3s ease-in-out;
}

@keyframes appear1 {
  0% { opacity: 0 }
}

.content {
  overflow: hidden;

  margin: auto;

  background-color: #FFF;
  border: 3px solid var(--border-color);
  border-radius: 10px;

  animation: appear2 0.3s ease-in-out;
}

@keyframes appear2 {
  0% { transform: translateY(4vh) }
}
