.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.variable {
  padding: 10px;

  font-weight: 500;
  color: var(--accent-color-1);

  background-color: white;
  border-radius: 100px;
  outline: 2px solid var(--accent-color-1);

  transition: background-color 0.3s linear;
}

.variable:hover {
  background-color: var(--selected-color-1);
  outline-width: 3px;
}
